a {color:#fff; text-decoration: none; outline:none}
a:hover, a:active {
    text-decoration: none;
    color: #fff;
}
html, body {
    width: 100%;
    margin : 0;
}
header {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    margin : 0 0 0 0;
    justify-content: center;
    align-items: center;
}
header .header-head{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: black;
}

.header-head .logo {
    min-width: 200px;
}

.header-head-menu {
    min-width: 200px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
    color: white;
    
}

.header-head-user {
    min-width:300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .searchbar{
    position: absolute;
    top: 80px;
    display: inline-flex;
    width: 1000px;
    height: 80px;
    background-color: white;
    border-radius: 700px;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}
header .searchbar .searchbar-title {
    font-weight: bold;
    margin-bottom: 0;
}

header .searchbar .searchbar-input {
    color: gray;
    margin-top: 6px;
}

header .searchbar .searchbar-border {
    width : 2px;
    height : 50px;
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(197, 193, 193, 0.801);
}

header .searchbar .location {
    margin-left: 40px;
    margin-right: 100px;
}

header .searchbar .checkin {
    margin-right: 100px;
}

header .searchbar .checkout {
    margin-right: 100px;
}

header .searchbar .people {
    margin-right: 100px;
}

header .searchbar .search-button {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    background-color: rgb(226, 15, 96);
    border-radius: 600px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header .searchbar .search-button .buttonimg {
    width: 60px;
    height: 60px;
}

header .mainphoto {
    border: 3px solid white;
    margin-top: 120px;
    width: 1600px;
    height: 600px;
}

header .mainphoto .mainphoto-img {
    width: 1600px;
    height: 600px;
}

header .message {
    color: white;
    font-size: 20px;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    margin: 80px 80px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items :center;
}

.nearCity {
    width: 80%;
    align-items: stretch;
    min-height: 250px;
}
.destination{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.city{
    width: 310px;
    display: flex;
}

.city img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    margin: 8px;
}

.cityInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;;
}

h1 {
    font-size: 32px;
    color: #222222;
}

.title{
    font-size: 16px;
    font-weight: 600;
    color: #222222;
}

.anywhere{
    width: 80%;
    min-height: 510px;
    align-items: stretch;
}

.place {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

.place img {
    width: 370px;
    height: 370px;
    border-radius: 10px;
}

.startHost {
    width: 90%;
    min-height: 480px;
    position: relative;   
}
.startHost img {
    width: 100%;
    height: 500px;
    border-radius: 14px;
}

.hostInfo {
    position: absolute;
    top: 80px;
    left: 80px;
}

.where {
    margin: 10px;
}
.whereInfo{
    font-size: 18px;
    font-weight: 600;
    color: #222222;
}

.hostInfo1{
    font-size: 48px;
    font-weight: 600;
    color: #FFFFFF; 
}

.hostInfo2{
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
}

button{
    border: 0;
    outline: 0;
    height: 48px;
    width: 168px;
    border-radius: 8px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
}

.experience{
    width: 80%;
    padding:10px
}
.experience h3, .experience h6{
    margin:0;
}    

.experience span{
    color:gray;
    font-size:15px;
}
.experience-container{
    display: flex;
   
    justify-content: space-between;
    padding: 15px 15px 15px 0;
}
.contents{
    margin-right: 10px;

}
.dog-image {
    width:250px;
    height: 250px;
    border-radius : 5px;
}

.contents .explanation{
    font-size: 8px;
    color:black;
}

h3 {
    margin: 0;
}

.explanation{
    font-size: 5px;

}


/*Footer*/
footer{
    width: 80%;
    margin-top: 15px;
    background-color: #ebebeb;
    padding: 20px 20px 10px 20px;

}
.footer-containter {
    display:flex;
    flex-direction: column;
    max-width: 1200px;  
}
.footer-main{
    display:flex;
    justify-content:space-between;
    margin-bottom: 15px;
}
.footer-main .col .links{
    display:flex;
    flex-direction:column
}
.footer-head{
    color:black;
    font-size: 10px;
    

}
.col{
    margin-right: 80px;
}
.links {
    text-decoration: none;
    color: gray;
    font-size:10px;
    margin-bottom:8px;
}
.linktop {
    margin-top: 8px;
}


.footer-bar{
    border-top: 1px solid gray;
    display:flex;
    font-size:10px;
    justify-content: space-between;
}
.footer-bar a{
    text-decoration: none;
    color:gray;
}
.footer-bar-left{
    display:flex;
    align-items: center;
}

.footer-bar-left span{
    color:gray
}
.bulletin{
    background-color:gray;
    width: 3px;
    height: 3px;
    margin: 0px 5px 0px 10px;
}

.footer-bar-right{
    display:flex;
    align-items: center;

}
.bars{
    padding-top:10px;
}
.won{
    margin-left: 15px;
}
.icons {
    margin-left: 30px;
}
.koreanwon {
    width: 10px;
    height : 10px;
}
.sns {
    width: 10px;
    height: 10px;
}